.tools{
    width: 140px;
    padding: 2px;
    font-size: 3px;
    border: 1px solid #cccccc;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border-radius: 4px;
}