.library{
    background: #232e52;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 4rem;
}
.logo{
    color: #fff;
}
.introduction-library h2{
    color: #FFF;
    font-family: Graphik;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.56px;
}
.introduction-library p{
    color: #cccccc;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}
.introduction-library .products{
    color: rgba(255, 255, 255, 0.80);
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 2rem;
}
.btn{
    background: rgba(255, 255, 255, 0.10);
    border: none;
    border-radius: 8px;
    display: inline-flex;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
}




@media screen and (max-width:760px){
    .home{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .introduction h2{
        font-size: 22px;
        font-weight: 500;
    }
}